.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container form div {
    margin-bottom: 10px;
  }
  
  .login-container form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:black;
  }

  .login-container form label,
  .login-container form p {
    color:black;
  }
  
  .login-container form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container form button:hover {
    background-color: #45a049;
  }

  .button-link {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #0056b3;
}

  
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
  }

  .success-message {
    color: green;
    font-size: 0.9rem;
  }
  
  .status-message {
    color: #0f3826;
    font-size: 14px;
    text-align: center;
  }
  .landing-logo {
  width: 80px !important;
  height: 80px !important;
  margin: 0 auto 1rem auto;
  display: block;
  animation: fadeIn 1s ease;
}
.logo-text {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color:#062045
}
